html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}
#map
{
    height: 80%;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 9px 11px 14px -8px rgba(0,0,0,0.27);
    -moz-box-shadow: 9px 11px 14px -8px rgba(0,0,0,0.27);
    box-shadow: 9px 11px 14px -8px rgba(0,0,0,0.27);
}
.container
{
    height: 100%;
}
.container .map-holder
{
    height: 70%;
}
.centered
{
    text-align: center;
}
.alert.alert-danger
{
    display: none;
}
.msg-height
{
    height: 52px;
    margin-bottom: 20px;
}